.goods {
    &__title {
        padding-bottom: 24px;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid $light-gray;
        @include tablet {
            padding-bottom: 16px;
            font-size: 24px;
        }
        @include mobile {
            padding-bottom: 9px;
            font-size: 18px;
        }
    }
    &__warning {
        padding-top: 20px;
        text-align: center;
        font-size: 18px;
        @include tablet {
            font-size: 14px;
        }
        @include mobile {
            font-size: 12px;
        }
    }
    &__list {
        padding-top: 40px;
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fill, 280px);
        justify-content: space-evenly;
        @include tablet {
            grid-template-columns: repeat(auto-fill, 140px);
            row-gap: 24px;
            padding-top: 24px;
        }
        @include mobile {
            gap: 16px 10px;
            padding-top: 16px;
        }
    }
}