.main-button {
    padding: 14px 41px 15px;
    background: $main-color;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $second-color;
    white-space: nowrap;
    @include tablet {
        padding: 12px 41px;
        font-size: 10px; 
    }
}