.pagination {
    padding-top: 40px;;
    display: flex;
    justify-content: center;
    gap: 16px;
    @include tablet {
        padding-top: 24px;
    }
    @include mobile {
        padding-top: 16px;
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__link {
        display: block;
        width: 16px;
        padding: 4px 4px 6px 4px;
        font-weight: 400;
        font-size: 14px;
        color: $gray;
        &_active {
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }
    }
    &__arrow {
        color: $main-color;
        &_start-disabled {
            color: $gray;
            pointer-events: none;
        }
        &_end-disabled {
            color: $gray;
            pointer-events: none;
        }
    }
}